<form [formGroup]="profileForm" (submit)="onSubmit()">
  <!-- firstName -->
  <div>
    <mat-form-field>
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="firstName" required />
      <mat-error *ngIf="profileForm.get('firstName').hasError('required')">
        Le prénom est requis
      </mat-error>
      <mat-error *ngIf="profileForm.get('firstName').hasError('maxlength')">
        Le prénom ne peut dépasser 128 caractères
      </mat-error>
    </mat-form-field>
  </div>

  <!-- lastName -->
  <div>
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput formControlName="lastName" required />
      <mat-error *ngIf="profileForm.get('lastName').hasError('required')">
        Le nom est requis
      </mat-error>
      <mat-error *ngIf="profileForm.get('lastName').hasError('maxlength')">
        Le nom ne peut dépasser 128 caractères
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Address -->
  <div>
    <app-search-address-field
      [val]="address"
      (found)="onFound('address', $event)"
    ></app-search-address-field>
  </div>

  <!-- Employer -->
  <div>
    <app-search-employer-field
      [val]="employer"
      (found)="onFound('employer', $event)"
    ></app-search-employer-field>
  </div>

  <!-- Distance -->
  <div>
    <mat-form-field>
      <mat-label>Nombre de kilomètres</mat-label>
      <input matInput formControlName="distance" required maxlength="6" />
      <mat-error *ngIf="profileForm.get('distance').hasError('required')">
        La distance est requise
      </mat-error>
      <mat-error *ngIf="profileForm.get('distance').hasError('max')">
        La distance ne peut dépasser 100000&nbsp;km
      </mat-error>
      <mat-error *ngIf="profileForm.get('distance').hasError('min')">
        La distance ne peut inférieure à 1&nbsp;km
      </mat-error>
      <mat-error *ngIf="profileForm.get('distance').hasError('pattern')">
        Ce champ n'accepte que les chiffres
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Days -->
  <div>
    <mat-form-field>
      <mat-label>Nombre de jours de covoiturage</mat-label>
      <input matInput formControlName="days" required maxlength="3" />
      <mat-error *ngIf="profileForm.get('days').hasError('required')">
        Le nombre de jours est requis
      </mat-error>
      <mat-error *ngIf="profileForm.get('days').hasError('max')">
        Le nombre de jours ne peut dépasser 365
      </mat-error>
      <mat-error *ngIf="profileForm.get('days').hasError('min')">
        Le nombre de jours ne peut être inférieur à 1
      </mat-error>
      <mat-error *ngIf="profileForm.get('days').hasError('pattern')">
        Ce champ n'accepte que les chiffres
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Employer -->
  <div>
    <mat-form-field>
      <mat-label>Fait à</mat-label>
      <input matInput formControlName="location" required />
      <mat-error *ngIf="profileForm.get('location').hasError('required')">
        La commune de génération est requise
      </mat-error>
      <mat-error *ngIf="profileForm.get('location').hasError('maxlength')">
        La commune de génération ne peut dépasser 128 caractères
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Actions -->
  <div>
    <button mat-button color="warn" type="reset">
      <mat-icon>clear</mat-icon>&nbsp;Annuler
    </button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!profileForm.valid"
    >
      <mat-icon>description</mat-icon>&nbsp;Générer
    </button>
  </div>
</form>
