<header class="rf-header">
  <div class="rf-container">
    <div class="rf-header__body">
      <div class="rf-header__brand">
        <a
          class="rf-logo"
          href="#"
          title="Ministère de la transition écologique et solidaire"
        >
          <span class="rf-logo__title"
            >Ministère <br />de la transition<br />écologique <br />et
            solidaire</span
          >
        </a>
      </div>
      <div class="rf-header__navbar">
        <div class="rf-service">
          <a
            class="rf-service__title"
            href="#"
            title="Générateur d'attestation de covoiturage sur l'honneur"
          >
            Générateur d'attestation de covoiturage sur l'honneur
          </a>
          <p class="rf-service__tagline">Registre de preuve de covoiturage</p>
        </div>
      </div>
      <div class="rf-header__tools">
        <div class="rf-shortcuts">
          <ul class="rf-shortcuts__list">
            <li class="rf-shortcuts__item">
              <app-dark-mode-toggle></app-dark-mode-toggle>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="rf-section rf-section--secondary">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-12">
        <div class="padding-1em">
          <h1>Générateur d'attestation de covoiturage</h1>
          <p>
            Le Forfait Mobilités Durables vous donne droit à 400€ de prime
            versée par votre employeur.
          </p>

          <div class="rf-grid-row">
            <ul>
              <li><a href="">je suis salarié·e du secteur privé</a></li>
              <li><a href="">je suis salarié·e du secteur public</a></li>
              <li><a href="">je suis employeur</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rf-section">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-sm-6 rf-col-xs-12">
        <div class="padding-1em">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="rf-col-6 rf-xs-hidden">
        <div class="padding-1em">
          <h2>Informations</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
            repellat non, libero molestias, voluptas amet nostrum at,
            dignissimos iure eos magni. Distinctio magni accusamus sit rem,
            totam rerum iure molestiae.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rf-section rf-section--secondary">
  <div class="rf-container">
    <div class="rf-col-12">
      <div class="padding-1em">
        <h2>Confidentialités de vos données</h2>
        <p>Pas de cookies, pas de traceurs, que du bon.</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere quo
          illum cumque excepturi vero aliquam consequatur commodi similique
          laboriosam maiores soluta nemo, eos vitae harum reprehenderit quia
          minus? A, quisquam?
        </p>
      </div>
    </div>
  </div>
</section>

<section class="rf-section">
  <div class="rf-container">
    <div class="rf-col-12">
      <div class="padding-1em">
        <h2>Je suis employeur</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere quo
          illum cumque excepturi vero aliquam consequatur commodi similique
          laboriosam maiores soluta nemo, eos vitae harum reprehenderit quia
          minus? A, quisquam?
        </p>
      </div>
    </div>
  </div>
</section>

<footer class="rf-footer">
  <div class="rf-container">
    <div class="rf-grid-row">
      <div class="rf-col-12 padding-1em">
        <h4>beta.gouv</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore cum
          eaque distinctio pariatur dolor? Dolor fugiat minima incidunt
          reiciendis at in aliquid accusantium, voluptatem quod facilis
          explicabo rem assumenda expedita?
        </p>
      </div>
    </div>
  </div>
</footer>
