<form [formGroup]="profileForm" (submit)="onSubmit()">
  <!-- firstName -->
  <div class="rf-input-group">
    <label class="rf-label">Prénom</label>
    <p class="rf-hint-text" id="text-input-hint-desc-hint">
      Texte de description additionnel
    </p>
    <input class="rf-input" formControlName="firstName" required />
    <p
      *ngIf="profileForm.get('firstName').hasError('required')"
      class="rf-error-text"
    >
      Le prénom est requis
    </p>
    <p
      *ngIf="profileForm.get('firstName').hasError('maxlength')"
      class="rf-error-text"
    >
      Le prénom ne peut dépasser 128 caractères
    </p>
  </div>

  <!-- lastName -->
  <div class="rf-input-group">
    <label class="rf-label">Nom</label>
    <input class="rf-input" formControlName="lastName" required />
    <p
      *ngIf="profileForm.get('lastName').hasError('required')"
      class="rf-error-text"
    >
      Le nom est requis
    </p>
    <p
      *ngIf="profileForm.get('lastName').hasError('maxlength')"
      class="rf-error-text"
    >
      Le nom ne peut dépasser 128 caractères
    </p>
  </div>

  <!-- Address -->
  <div class="rf-input-group">
    <label class="rf-label">Adresse du domicile</label>
    <app-autocomplete formControlName="address"></app-autocomplete>
    <p
      *ngIf="profileForm.get('address').hasError('required')"
      class="rf-error-text"
    >
      L'adresse du domicile est requise
    </p>
    <p
      *ngIf="profileForm.get('address').hasError('maxlength')"
      class="rf-error-text"
    >
      L'adresse ne peut dépasser 256 caractères
    </p>
  </div>

  <!-- Employer -->
  <div class="rf-input-group">
    <label class="rf-label">Nom de l'employeur</label>
    <app-autocomplete formControlName="employer"></app-autocomplete>
    <p
      *ngIf="profileForm.get('employer').hasError('required')"
      class="rf-error-text"
    >
      Le nom de l'employeur est requis
    </p>
    <p
      *ngIf="profileForm.get('employer').hasError('maxlength')"
      class="rf-error-text"
    >
      Le nom de l'employeur ne peut dépasser 256 caractères
    </p>
  </div>

  <!-- Distance -->
  <div class="rf-input-group">
    <label>Nombre de kilomètres</label>
    <input class="rf-input" formControlName="distance" required maxlength="6" />
    <p
      *ngIf="profileForm.get('distance').hasError('required')"
      class="rf-error-text"
    >
      La distance est requise
    </p>
    <p
      *ngIf="profileForm.get('distance').hasError('max')"
      class="rf-error-text"
    >
      La distance ne peut dépasser 100000&nbsp;km
    </p>
    <p
      *ngIf="profileForm.get('distance').hasError('min')"
      class="rf-error-text"
    >
      La distance ne peut inférieure à 1&nbsp;km
    </p>
    <p
      *ngIf="profileForm.get('distance').hasError('pattern')"
      class="rf-error-text"
    >
      Ce champ n'accepte que les chiffres
    </p>
  </div>

  <!-- Days -->
  <div class="rf-input-group">
    <label class="rf-label">Nombre de jours de covoiturage</label>
    <input class="rf-input" formControlName="days" required maxlength="3" />
    <p
      *ngIf="profileForm.get('days').hasError('required')"
      class="rf-error-text"
    >
      Le nombre de jours est requis
    </p>
    <p *ngIf="profileForm.get('days').hasError('max')" class="rf-error-text">
      Le nombre de jours ne peut dépasser 365
    </p>
    <p *ngIf="profileForm.get('days').hasError('min')" class="rf-error-text">
      Le nombre de jours ne peut être inférieur à 1
    </p>
    <p
      *ngIf="profileForm.get('days').hasError('pattern')"
      class="rf-error-text"
    >
      Ce champ n'accepte que les chiffres
    </p>
  </div>

  <!-- Location -->
  <div class="rf-input-group">
    <label class="rf-label">Fait à</label>
    <input class="rf-input" formControlName="location" required />
    <p
      *ngIf="profileForm.get('location').hasError('required')"
      class="rf-error-text"
    >
      La commune de génération est requise
    </p>
    <p
      *ngIf="profileForm.get('location').hasError('maxlength')"
      class="rf-error-text"
    >
      La commune de génération ne peut dépasser 128 caractères
    </p>
  </div>

  <!-- Actions -->
  <div class="rf-input-group">
    <button type="reset" class="rf-btn rf-btn--secondary">Annuler</button>
    &nbsp;
    <button type="submit" class="rf-btn" [disabled]="!profileForm.valid">
      Générer
    </button>
  </div>
</form>
